[submodule "Team-01"]
	path = Team-01
	url = https://github.com/cdsvitbhopal/Team-01.git
[submodule "Team-03"]
	path = Team-03
	url = https://github.com/cdsvitbhopal/Team-03.git
[submodule "Team-04"]
	path = Team-04
	url = https://github.com/cdsvitbhopal/Team-04.git
[submodule "Team-06"]
	path = Team-06
	url = https://github.com/cdsvitbhopal/Team-06.git
[submodule "Team-08"]
	path = Team-08
	url = https://github.com/cdsvitbhopal/Team-08.git
[submodule "Team-11"]
	path = Team-11
	url = https://github.com/cdsvitbhopal/Team-11.git
[submodule "Team-16"]
	path = Team-16
	url = https://github.com/cdsvitbhopal/Team-16.git
[submodule "Team-17"]
	path = Team-17
	url = https://github.com/cdsvitbhopal/Team-17.git
[submodule "Team-18"]
	path = Team-18
	url = https://github.com/cdsvitbhopal/Team-18.git
[submodule "WInners/Team-04"]
	path = WInners/Team-04
	url = https://github.com/cdsvitbhopal/Team-04.git
[submodule "WInners/Team-01"]
	path = WInners/Team-01
	url = https://github.com/cdsvitbhopal/Team-01.git
